{{>head}}
{{>navbar}}
<div class="row">
    <div class="col">
        <h1>IronMAN</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia consequatur distinctio natus reiciendis
            quibusdam molestiae iste incidunt officiis fugiat quia eveniet deserunt, corporis a doloremque magnam
            laudantium labore alias praesentium?</p>
    </div>
    <div class="col">
        <img src="assets/img/irm.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{>footer}}